.container {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    
}

.container button {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    top: 0;
    height: 100vh;
    color: brown;
    font-size: 1.5rem;
    
    background-color: rgba(165,42,42,0.1);
    border:0px solid #f1f1f1;
    cursor: pointer;
    
}

.container button:hover {
    background-color: rgba(165,42,42,0.8);
    color: white;
    border-radius: 19px;
    
    
}